body{
    padding: 0;
    margin: 0;
}
.main{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}
.cont1{
    order: 1;
    flex: 1 2 70%;
    margin-top:30px;
}
.cont2{
    order: 2;
    flex: 1 2 30%;
    margin-top:30px;
}
.pass{
    border-radius: 5px;
    border: 2px solid #D2C4C4;
}
.user{
    border-radius: 5px;
    border: 2px solid #D2C4C4;
}
.btn1, .btn2, .btn3{
    border-radius: 3px;
}
.btn1:hover, .btn2:hover,.btn3:hover{
    background: gray;
}
